@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<body>

    <p>Last Updated: 01 December 2023</p>

    <p>Welcome to Study Management!</p>

    <p>Your privacy is important to us. This Privacy Policy outlines how study management collects, uses, discloses, and safeguards your personal information when you use our website.</p>

    <p>By using our website, you consent to the terms and practices described in this Privacy Policy. If you do not agree with any part of this Privacy Policy, please do not use our website.</p>

    <h2>Information We Collect</h2>

    <h3>Personal Information</h3>

    <p>We may collect personal information, such as your name, email address, and other identifiable information when you voluntarily submit it to us through forms on our website.</p>

    <h3>Log Data</h3>

    <p>We automatically collect information that your browser sends whenever you visit our website. This may include your computer's Internet Protocol (IP) address, browser type, browser version, the pages you visit, the time and date of your visit, and other statistics.</p>

    <h2>How We Use Your Information</h2>

    <p>We may use the information we collect for various purposes, including:</p>

    <ul>
        <li>To personalize your experience and provide content tailored to your interests.</li>
        <li>To improve our website based on your feedback and usage.</li>
        <li>To respond to your inquiries, questions, and requests.</li>
    </ul>

    <h2>Information Sharing</h2>

    <p>We do not sell, trade, or transfer your personal information to third parties. This does not include trusted third parties who assist us in operating our website or servicing you, as long as those parties agree to keep this information confidential.</p>

    <h2>Cookies</h2>

    <p>Our website may use "cookies" to enhance your experience. You have the option to disable cookies through your browser settings.</p>

    <h2>Security</h2>

    <p>We implement a variety of security measures to maintain the safety of your personal information.</p>

    <h2>Changes to This Privacy Policy</h2>

    <p>We reserve the right to update or change our Privacy Policy at any time. The latest version will be posted on this page.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions or concerns regarding this Privacy Policy, please contact us at st10019757@vcconnect.edu.za</p>

</body>